// breakpoints

// $desktop-up: 1800px;
$desktop-down: 1440px;
$laptop-up: 1439px;
$laptop-down: 1080px;
$tablet-up: 1079px;
$tablet-down: 600px;
$mobile-up: 599px;
$mobile-down: 414px;

// breakpoints mixins
@mixin mobile {
  @media (min-width: $mobile-down) and (max-width: $mobile-up) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-down) and (max-width: $tablet-up) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop-down) and (max-width: $laptop-up) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-down) {
    @content;
  }
}
