@use "@angular/material" as mat;

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  src: url("../assets/fonts/Roboto/Roboto-Italic.ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
}

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
    typography: (
      plain-family: "Roboto",
      brand-family: "Roboto",
      bold-weight: 900,
    ),
    density: (
      scale: 0,
    ),
  )
);

body {
  @include mat.all-component-themes($theme);

  --mat-toolbar-standard-height: 56px;
  --mat-toolbar-mobile-height: 56px;
  --mdc-outlined-text-field-outline-color: #e1e4e6;
  --mdc-outlined-text-field-label-text-color: #8c9499;
}
