/* stylelint-disable selector-pseudo-element-no-unknown */
@use "@angular/material" as mat;

@import "styles/mixins";

:host {
  width: 704px;
  height: 228px;

  font-family: Roboto, sans-serif;

  background-color: #fff;
  border-radius: 4px;
}

.wrapper {
  display: flex;
  height: 100%;
}

.history {
  display: flex;
  flex-direction: column;

  width: 216px;
  padding: 20px 0 8px;

  border-right: 1px solid #e1e4e6;

  &-title {
    margin: 0;
    padding: 0 16px;
    font-size: 11px;
    color: #7f878c;
  }

  &-list {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 6px 16px;

    font-size: 14px;
    color: #2a3033;
  }
}

.form {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;

  @include laptop {
    padding: 24px 0;
  }

  @include desktop {
    padding: 24px 0;
  }

  &-field {
    width: 100%;
    padding: 0 24px;

    @include mobile {
      padding: 0;
    }

    @include mat.form-field-density(-2);
  }
}

.checkbox-group {
  display: flex;
  gap: 20px;
  padding: 0 24px;

  @include mobile {
    flex-direction: column;
    gap: 6px;
    padding: 0 8px;
  }

  &-title {
    margin-top: 16px;
    padding: 0 24px;
    font-size: 14px;

    @include mobile {
      padding: 0;
    }
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.custom-checkbox ::ng-deep .mdc-checkbox__background {
  @include mobile {
    --mdc-checkbox-unselected-focus-icon-color: #d9d9d9;
    --mdc-checkbox-unselected-hover-icon-color: #d9d9d9;
    --mdc-checkbox-unselected-icon-color: #f5f5f5;

    position: absolute;
    top: 4px;
    left: 4px;

    width: 32px;
    height: 32px;

    border-width: 6px;
    border-radius: 50%;
  }

  --mdc-checkbox-unselected-focus-icon-color: #656b6e;
  --mdc-checkbox-unselected-hover-icon-color: #656b6e;
  --mdc-checkbox-unselected-icon-color: #7f878c;
}
